.Chatbox-header {
  border-radius: 4px 4px 0 0;
  height: 32px;
  background-color: #2979ff;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  padding-left: 12px;
  padding-right: 7px;
}
.Chatbox-header__online {
  width: 6px;
  height: 6px;
  background-color: #69f0ae;
  border-radius: 50%;
}
.Chatbox-header__name {
  color: #ffffff;
  margin-left: 8px;
  margin-right: auto;
}
.Chatbox-header__icon_plus {
  background: url("../img/Plus.svg") no-repeat;
  padding-right: 14px;
  width: 12px;
  height: 12px;
}
.Chatbox-header__icon_video {
  background: url("../img/Video.svg") no-repeat;
  padding-right: 15px;
  width: 12px;
  height: 8px;
}
.Chatbox-header__icon_cog {
  background: url("../img/Cog.svg") no-repeat;
  padding-right: 9px;
  width: 12px;
  height: 12px;
}
.Chatbox-header__icon_close {
  background: url("../img/Close.svg") no-repeat;
  width: 18px;
  height: 18px;
}
