.Layout {
  background-color: #e3f2fd;
  font-family: OpenSans, sans-serif;
  font-size: 12px;
}
.Layout__section {
  height: 384px;
  width: 292px;
  border-radius: 4px 4px 0 0;
  background-color: #ffffff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.11);
  margin: 10px;
}
