.Layout {
  background-color: #e3f2fd;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}
.Layout__section {
  height: 384px;
  width: 292px;
  border-radius: 4px 4px 0 0;
  background-color: #ffffff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.11);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.Chatbox-header {
  border-radius: 4px 4px 0 0;
  height: 32px;
  background-color: #2979ff;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  padding-left: 12px;
  padding-right: 7px;
}
.Chatbox-header__online {
  width: 6px;
  height: 6px;
  background-color: #69f0ae;
  border-radius: 50%;
}
.Chatbox-header__name {
  color: #ffffff;
  margin-left: 8px;
  margin-right: auto;
  font-weight: bold;
}
.Chatbox-header__icon_plus {
  background: url("../img/Plus.svg") no-repeat;
  padding-right: 14px;
  width: 12px;
  height: 12px;
}
.Chatbox-header__icon_video {
  background: url("../img/Video.svg") no-repeat;
  padding-right: 15px;
  width: 12px;
  height: 8px;
}
.Chatbox-header__icon_cog {
  background: url("../img/Cog.svg") no-repeat;
  padding-right: 9px;
  width: 12px;
  height: 12px;
}
.Chatbox-header__icon_close {
  background: url("../img/Close.svg") no-repeat;
  width: 18px;
  height: 18px;
}
.Chatbox-body {
  border-bottom: solid 1px #e5e5e5;
  overflow-y: auto;
  padding: 18px 16px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 64px;
  top: 32px;
}
.Message::after {
  content: "";
  clear: both;
  display: block;
}
.Message_end-answer {
  margin-bottom: 16px;
}
.Message__avatar {
  border-radius: 50%;
  float: left;
}
.Message__answer_friend {
  margin: 0 0 0 36px;
}
.Message__answer_friend .Message__msg {
  float: left;
  margin: 0;
  border-radius: 14px;
  padding: 6px 12px 7px 12px;
  color: #353535;
  background-color: #f3f3f3;
  max-width: 180px;
  text-align: left;
}
.Message__answer_friend .Message__msg:not(:first-of-type) {
  clear: left;
}
.Message__answer_friend .Message__msg::after {
  content: "";
  clear: both;
  display: block;
}
.Message__answer_friend .Message__msg_first-msg {
  border-radius: 14px 14px 14px 0;
}
.Message__answer_friend .Message__msg_nth-msg {
  border-radius: 0 14px 14px 0;
  margin-top: 1px;
}
.Message__answer_friend .Message__msg_last-msg {
  border-radius: 0 14px 14px 14px;
  margin-top: 1px;
}
.Message__answer_owner .Message__msg {
  float: right;
  clear: right;
  margin: 0;
  max-width: 160px;
  line-height: 138%;
  padding: 5px 12px 6px 12px;
  color: #ffffff;
  background-color: #2979ff;
  text-align: left;
}
.Message__answer_owner .Message__msg::after {
  content: "";
  clear: both;
  display: block;
}
.Message__answer_owner .Message__msg_first-msg {
  border-radius: 14px 14px 0 14px;
}
.Message__answer_owner .Message__msg_nth-msg {
  margin-top: 1px;
  border-radius: 14px 0 0 14px;
}
.Message__answer_owner .Message__msg_last-msg {
  margin-top: 1px;
  border-radius: 14px 0 14px 14px;
}
.Time-msg {
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 0.3px;
  text-align: center;
  color: #828282;
  margin: 8px 0 9px 0;
}
.New-msg {
  padding: 8px 16px 12px 16px;
  height: 43px;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  background-color: #ffffff;
}
.New-msg__input {
  font-size: 12px;
  text-align: left;
  border: none;
  display: block;
}
.New-msg__input::placeholder {
  color: #cdcdcd;
}
.New-msg__input:focus {
  outline: none;
}
.New-msg__icon {
  display: block;
  float: left;
}
.New-msg__icon_picture {
  margin-top: 10px;
  margin-right: 10px;
  background: url("../img/Picture.svg") no-repeat;
  width: 16px;
  height: 16px;
}
.New-msg__icon_gif {
  margin-top: 9px;
  margin-right: 10px;
  background: url("../img/Gif.svg") no-repeat;
  width: 21px;
  height: 16px;
}
.New-msg__icon_smile {
  margin-top: 9px;
  margin-right: 10px;
  background: url("../img/Smile.svg") no-repeat;
  width: 16px;
  height: 16px;
}
.New-msg__icon_calendar {
  margin-top: 7px;
  margin-right: 10px;
  background: url("../img/Calendar.svg") no-repeat;
  width: 16px;
  height: 18px;
}
.New-msg__icon_camera {
  margin-top: 8px;
  margin-right: 10px;
  background: url("../img/Camera.svg") no-repeat;
  width: 21px;
  height: 18px;
}
