.Message {
  &::after {
    content: "";
    clear: both;
    display: block;
  }
  &_end-answer {
    margin-bottom: 16px;
  }
  &__avatar {
    border-radius: 50%;
    float: left;
  }
  &__list_friend {
    margin: 0 0 0 36px;
    .Message__item {
      float: left;
      color: #353535;
      background-color: #f3f3f3;
      border-radius: 0 14px 14px 0;
      &:first-of-type {
        border-radius: 14px 14px 14px 0;
      }
      &:last-of-type {
        border-radius: 0 14px 14px 14px;
      }
      &:not(:first-of-type) {
        clear: left;
      }
    }
  }
  &__list_owner {
    .Message__item {
      float: right;
      clear: right;
      line-height: 138%;
      color: #ffffff;
      background-color: #2979ff;
      border-radius: 14px 0 0 14px;
      &:first-of-type {
        border-radius: 14px 14px 0 14px;
      }
      &:last-of-type {
        border-radius: 14px 0 14px 14px;
      }
    }
  }
  &__list{
    .Message__item{
      padding: 5px 12px 6px 12px;
      max-width: 160px;
      margin: 1px 0 0 0;
      &:only-of-type {
        border-radius: 14px;
      }
    }
  }
}
